<% include ../partials/top.ejs %>

<form method='POST' action='/albums/<%= data.id%>?_method=PUT'>
<main id="seatmain">
  <div id="seatdisplay">
    <input name="artist" type="text" id="editartist" value="<%= data.artist %>"/>
    <input name="album" type="text" id="editalbum" value="<%= data.album %>"/>
    <button id="editfavorites" type="button">F</button>
    <input name="quality" type="text" id="editcondition" value="<%= data.condition %>"/>
    <div id="editdelcontainer">
      <input id="editediticon" type="submit" value='&#10004'>
    </form>
      <form action="/albums/<%= data.id %>?_method=Delete" method="POST">
        <input id="editdelicon" type="Submit" value="X">
      </form>
    </div>
  </div>
</main>

<% include ../partials/bottom.ejs %>
